{% extends "index.html" %}

{% block body %}
<section class="text-center container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto section-title">
            <h1 class="fw-light">About me</h1>
        </div>
    </div>
</section>
<div>
    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
        velit..."</p>
    <p> "There is no one who loves pain itself, who seeks after it and wants to have it, simply because
        it is pain..."</p>
</div>
{% endblock %}